@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --background-100: #efefef;
    --background-200: #ccc;
    --background-300: #898989;

    --foreground: #222;
    --foreground-100: #444;
    --foreground-200: #777;
    --foreground-300: rgb(226 232 240);

    --secondary: #ff6c02;
    --secondary-100: #ff6c02;

    --border-secondary: #fcf3f348;
    --border-secondary-100: #000;

    --gray: #777;
    --gray-100: #e4e4e7;

    --input: 240 5.9% 90;
    --ring: #fa6800;

    --radius: 0.5rem;
  }

  .dark {
    --background: #fff;
    --background-100: #efefef;
    --background-200: #ccc;
    --background-300: #898989;

    --foreground: #222;
    --foreground-100: #444;
    --foreground-200: #777;
    --foreground-300: rgb(226 232 240);

    --secondary: #ff6c02;
    --secondary-100: #ff6c02;

    --border-secondary: #fcf3f348;
    --border-secondary-100: #000;

    --gray: #777;
    --gray-100: #e4e4e7;

    --input: 240 5.9% 90;
    --ring: #fa6800;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-primaryFont font-bold;
  }
  h2 {
    @apply text-secondaryFont font-semibold;
  }
  h3 {
    @apply text-subtitle font-normal;
  }
}

@layer utilities {
  .row-flex {
    @apply flex flex-row flex-nowrap items-center justify-center align-middle;
  }
  .row-flex-btwn {
    @apply flex flex-row flex-nowrap items-center justify-between align-middle;
  }
  .flex-column {
    @apply flex flex-col items-start justify-center;
  }
  .p-subtitle {
    @apply mx-auto mt-2 max-w-[60ch] px-3 text-center text-xl;
  }
  .truncate {
    @apply w-full overflow-hidden text-ellipsis whitespace-nowrap;
  }
  .i-reset {
    @apply overflow-hidden truncate text-ellipsis whitespace-nowrap border-none bg-transparent outline-none transition-all focus:outline-none focus-visible:ring-0 focus-visible:ring-transparent;
  }
  .auth-btn {
    @apply mt-8 w-full py-3 text-lg;
  }
  .service-btn {
    @apply mt-12 w-full py-3 text-lg;
  }
  .py-form {
    @apply mb-14 mt-8 px-3 sm:mt-12;
  }
  .p-section {
    padding: max(4%, 3em) 0 max(4%, 2rem);
  }
}

@layer components {
  .grid-mobile-features {
    grid-auto-columns: minmax(min-content, 350px);
  }
  .grid-cols-features {
    grid-template-columns: repeat(4, minmax(270px, 1fr));
  }
}
